 body {
            margin: 0;
            padding: 0;
        }

        .user-menu-container {
            display: none;
            position: fixed;
            top: 40px;
            right: 20px;
            z-index: 1;
        }

        .menu {
            list-style-type: none;
            padding: 0;
            margin: 0;
            margin-top: 20px;
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            border-radius: 5px;
            white-space: nowrap;
            z-index: 999;
        }

        .menu li {
            padding: 10px;
        }

        .menu li a {
            text-decoration: none;
            color: #333;
        }

        .user-icon {
            cursor: pointer;
            display: flex;
            align-items: center;
        }

        .user-icon i {
            margin-right: 5px;
        }

        /* Show the menu when clicked */
        .menu-open {
            display: block;
        }