* {
    margin: 0px;
}

#signupCard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #fff;
    padding: 20px;
    filter: blur(0);
    /* Initial blur value */
    transition: filter 0.3s ease;
}

.error-message {
    color: red;
}

#loginCard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #fff;
    padding: 20px;
    filter: blur(0);
    /* Initial blur value */
    transition: filter 0.3s ease;
}

#signupCard.show {
    display: block;
}


.card {
    background-color: #fff3cd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* padding: 20px; */
    margin: 0 auto;
}

.card-body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-logo {
    /* text-align: center; */
    color: #d71d1d;
    /* font-size: 40px; */
}

.cut-icon {
    cursor: pointer;
    color: #000000;
    position: absolute;
    left: 90%;
    top: 5%;
}

.card-title {
    margin-top: 1rem;
    text-align: center;
    font-family: sans-serif;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1.5rem;

}

.form-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="date"] {
    width: 100%;
    height: 1.5rem;
    border-radius: 10px;
    border: 2px solid #d3d6db;
    font-size: 1rem;
    padding: 0.3rem 0.3rem;

}

#togglePassword {
    cursor: pointer;
    position: relative;
    margin-top: -25px;
    margin-left: 200px;
}

#togglePasswordLogin {
    cursor: pointer;
    position: relative;
    margin-top: -45px;
    margin-left: 200px;
}

.btn-primary {
    margin-top: 1rem;
    background-color: #ffc107;
    border-color: #ffc107;
    width: 105%;
    border-radius: 10px;
    background-color: #e60023;
    color: white;
    font-size: 1rem;
    border: none;
    padding: 0.5rem 0.3rem;
}

.btn-primary:hover {
    background-color: #ad1717;
    border-color: #ff9800;
}


html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}


/* navbar css */
.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 6%;
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: #e60023;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 40vw;
    display: flex;
    justify-content: space-between;
    padding-right: 3rem;

}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #000;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-links a:hover {
    color: #e60023;
}

.nav-links .signup {
    background-color: #e0dede;
    color: black;
    border-radius: 1rem;
    padding: 8px 16px;
}

.nav-links .login {
    border: 1px solid #e60023;
    background-color: red;
    color: white;
    border-radius: 1rem;
    padding: 8px 16px;
}