<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Create Board</title>
  <style>
    /* styles.css */
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
    }

    .card {
      width: 400px;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h2 {
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .form-input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: none;
      border-radius: 5px;
      background-color: #f0f0f0;
    }

    .form-submit {
      width: fit-content;
      padding: 10px;
      background-color: #e60023;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .form-submit:hover {
      background-color: #c4001a;
    }
  </style>
</head>

<body>
  <div class="card">
    <h2>Create a New Board</h2>
    <form method="post">
      {% csrf_token %}
      <input class="form-input" type="text" name="name" placeholder="Board Name" required>
      <button class="form-submit" type="submit">Create</button>
    </form>
  </div>
</body>

</html>

 
 