<!-- create_pin.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Pin</title>
  <style>
    /* styles.css */
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
    }

    .pin-form-container {
      width: 600px;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .pin-form-section {
      padding-right: 20px;
      display: flex;
      margin-bottom: 20px;
    }

    .pin-form-section .left-section {
      flex: 1;
      padding-right: 20px;
      border-right: 1px solid #ccc;
    }

    .pin-form-section .right-section {
      flex: 1;
      padding-left: 20px;
    }

    .pin-form-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .pin-form-input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: none;
      border-radius: 5px;
      background-color: #f0f0f0;
    }

    .pin-form-submit {
      width: fit-content;
      padding: 10px;
      background-color: #e60023;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-left: auto; /* Add this CSS to move the button to the right */
    }

    .pin-form-submit:hover {
      background-color: #c4001a;
    }
  </style>
</head>
<body>


  

  <div class="pin-form-container">
    <h1 class="pin-form-title">Create Pin Here</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="pin-form-section">
        <div class="left-section">
          {{ pin_form.image }}
          <!-- Add drag and drop box here if desired -->
        </div>

        <div class="right-section">
          <label for="">Board</label>
          <select id="board-select" class="pin-form-input" name="{{ pin_form.board.name }}">
            {% for choice in pin_form.board.field.widget.choices %}
              <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
          </select>
          <br>

          <input class="pin-form-input" type="text" name="{{ pin_form.title.name }}" placeholder="Title">
          <br>

          <input class="pin-form-input" type="text" name="{{ pin_form.catagory.name }}" placeholder="Category">
          <br>
        </div>
      </div>

      <div class="pin-form-section">
        <div class="left-section"></div>

        <div class="right-section">
          <textarea class="pin-form-input" name="{{ pin_form.description.name }}" placeholder="Description"></textarea>
          <br>
        </div>
      </div>

      <div class="pin-form-section">
        <div class="left-section"></div>

        <div class="right-section">
          <button class="pin-form-submit" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>
