{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/dashboard-nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard-card-layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard-user-dropdown.css' %}">

    <style>
        .pin:hover {
            box-shadow: 0 0 0 5px rgb(233, 142, 142);
        }
    </style>

</head>

<body>

    <!-- navbar start -->
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="#"><i class="fa fa-brands fa-pinterest navbar-logo"
                    style="font-size: 1.7rem; margin-right: 0.5rem;"></i></a>
        </div>
        <ul class="navbar-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="{% url 'create_pin' %}" id="">Create Pin</a></li>
            <li><a href="{% url 'create_board' %}" id="">Create Board</a></li>
        </ul>
        <div class="navbar-search">
            <input type="text" placeholder="Search">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>
        <ul class="navbar-icons">
            <li><a href="#"><i class="fas fa-bell"></i></a></li>
            <li><a href="#"><i class="fas fa-envelope"></i></a></li>
            <i class="fas fa-user user-icon" onclick="toggleMenu(event)"></i>
        </ul>

        <!-- navbar end -->


        <!-- user menu -->
        <div class="user-menu-container" id="user-menu-container">
            <ul class="menu">
                <li>{{username}}</li>
                <li><a href="{% url 'logout' %}">Logout</a></li>

            </ul>
        </div>
        <!-- user menu end -->

    </nav>



    <!-- pin container start -->

    <div class="pin_container">
        {% for pin in pins %}

        <div class="card {% cycle 'card_small' 'card_medium' 'card_large' %}">
            <a href="{% url 'pin' pin.id %}">
                <img class="pin" src="{{ pin.image.url }}" style="cursor: zoom-in;" alt="Pin Image">
            </a>
        </div>

        {% endfor %}
    </div>

    <!-- pin container end -->



</body>
<script src="{% static 'js/dashboard-user-dropdown.js' %}"></script>




</html>