<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>pin details html</h1>
    <h2>{{pin_detail.id}}</h2>
    <h2>{{pin_detail.board_id}}</h2>
    <h2>{{pin_detail.title}}</h2>
    <h2>{{pin_detail.description}}</h2>
    <h2>{{pin_detail.created_at}}</h2>
    <h2>{{pin_detail.updated_at}}</h2>


    <img src="{{pin_detail.image.url}}" alt="">
    <h2>{{host}}</h2>
</body>
</html>