{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest - India</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>



    <nav class="navbar">
        <a href="#" class="logo"><i class="fa fa-brands fa-pinterest card-logo"
                style="font-size: 1.7rem; margin-right: 0.5rem;"></i>Pinterest</a>
        <ul class="nav-links">
            <li><a href="#">About</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#" class="login" id="loginLink">Login</a></li>
            <li><a href="#" class="signup" id="signupLink">Signup</a></li>
        </ul>
    </nav>

    <img src="https://i.ibb.co/9qhnWB9/Screenshot-2023-06-23-at-3-46-08-PM.png"
        width="100%" alt="">

    <div id="signupCard" class="card hidden">
        <div class="card-body">
            <i class="fa fa-brands fa-pinterest card-logo" style="font-size: 40px;"></i>
            <i class="fa-solid fa-xmark cut-icon" id="close-form-btn-signup" style="font-size: 1.5rem;"></i>
            <h3 class="card-title">Welcome to Pinterest</h3>
            <p>Find new ideas to try</p>

            <form id="signupForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">Email address</label>
                    <input type="text" id="id_username" name="{{ form.username.name }}" placeholder="Email address"
                        class="form-control">
                    <div id="usernameError" class="error-message"></div>
                </div>
                <div class="form-group">
                    <label for="id_password">Password</label>
                    <input type="password" id="id_password" name="{{ form.password.name }}"
                        placeholder="Create a password" class="form-control">
                    <div id="passwordError" class="error-message"></div>
                    <i class="fa far fa-eye" id="togglePassword"></i>
                </div>

                <div class="form-group">
                    <label for="id_date_of_birth">Date of birth</label>
                    <input type="date" id="id_date_of_birth" name="{{ form.date_of_birth.name }}"
                        value="{{ form.date_of_birth.value|date:'Y-m-d' }}" class="form-control">
                    <div id="dateOfBirthError" class="error-message"></div>
                </div>
                <button type="submit" class="btn btn-primary signup-button">Continue</button>
            </form>
        </div>
    </div>


    <div id="loginCard" class="card hidden">
        <div class="card-body">
            <i class="fa fa-brands fa-pinterest card-logo" style="font-size: 40px;"></i>
            <i class="fa-solid fa-xmark cut-icon" id="close-form-btn-login" style="font-size: 1.5rem;"></i>
            <h3 class="card-title">Welcome to Pinterest</h3>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Email address</label>
                    <input type="text" id="username" name="username" placeholder="Email" required><br>

                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="id_password_login" name="password" placeholder="Password" required><br>
                    <i class="fa far fa-eye" id="togglePasswordLogin"></i>
                    <div id="invalidLoginDetails" class="error-message" style="margin-top: 20px;"></div>
                </div>
                
                <button type="submit" class="btn btn-primary" style="margin-top: 3rem;">Log in </button>
            </form>
        </div>
    </div>



</body>

{% if error_message %}
<script>
    var errorMessage = "{{ error_message }}";
    document.getElementById("loginCard").classList.remove("hidden");

    var invalidLoginDetails = document.getElementById('invalidLoginDetails');
    // event.preventDefault();  // Prevent form submission
    invalidLoginDetails.textContent = errorMessage;
</script>
{% endif %}
<script src="{% static 'js/index.js' %}"></script>

</html>